.wrapper {
  display: block;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  min-height: 100vh;
}

.pokedex {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 400px;
  background-color: #FE0065;
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}
